<div class="page-specific-background">
  <nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-title" (click)="irinicio()">CENTRO DE SUPERVISION DE HABITACION</div>
      <ul class="navbar-links">
        <li><a (click)="addCama()">Añadir Camas</a></li>
        <li><a (click)="removeCama()">Eliminar Camas</a></li>
      </ul>
    </div>
  </nav>

  <div>
    <div class="container">
      <div *ngFor="let cama of camaService.habitaciones[habitacion1]; let i = index"
        class="rectangle"
        [ngClass]="{ 'original-image': cama.isOriginalImage, 'alternate-image': !cama.isOriginalImage }"
        [id]="'habitacion' + habitacion + 'cama' + cama.id"
        (click)="stopBlink(habitacion, cama.id)">
        <div class="rectangle-title">{{ cama.title }}</div>
        <button class="toggle-button"
          [ngClass]="{ 'button-original': cama.isOriginalImage, 'button-alternate': !cama.isOriginalImage }"
          (click)="toggleImage(cama)">{{ camaService.getButtonText(cama) }}</button>
      </div>
    </div>
  </div>
</div>

<div *ngFor="let llamada of llamadasCamas">
  <ng-container *ngIf="llamada.habitacion == 1 && llamada.cama< 13">
    <div class="llamada-item">
      <p><strong>Habitación:</strong> {{ llamada.habitacion }}</p>
      <p><strong>Cama:</strong> {{ llamada.cama }}</p>
      <p *ngIf="llamada.message"><strong>Mensaje:</strong> {{ llamada.message }}</p>
      <button (click)="eliminarLlamada(llamadasCamas.indexOf(llamada))">Eliminar Llamada</button>
    </div>
  </ng-container>
</div>