<div class="gradient-rectangle">
  <div class="circle-image"></div>
  <h1>Sign in</h1>
  <input
    type="text"
    class="inner-rectangle"
    placeholder="E-mail"
    [(ngModel)]="email"
    #emailInput
    (keydown.enter)="focusPassword()"
    autofocus
  >
  <input
    type="password"
    class="inner-rectangle"
    placeholder="Contraseña"
    [(ngModel)]="password"
    #passwordInput
    (keydown.enter)="onSubmit()"
  >
  <div class="button-container">
    <button class="action-button" (click)="onSubmit()">Iniciar Sesión</button>
  </div>
</div>
